<h2>Add a new Pet</h2>
<form (submit)="createPet()">

  <p>Pet Name: <input type="text" name="title" [(ngModel)]="newPet.title"></p>
  <p *ngIf="newPet.title.length < 3">Pet Name must be at least 3 characters</p>

  <p>Type: <input type="text" name="type" [(ngModel)]="newPet.type"></p>
  <p *ngIf="newPet.type.length < 3">Type must be at least 3 characters</p>

  <p>Description: <input type="text" name="description" [(ngModel)]="newPet.description"></p>
  <p *ngIf="newPet.description.length < 3">Description must be at least 3 characters</p>

  <p>Skill 1: <input type="text" name="skill1" [(ngModel)]="newPet.skill1"></p>
  <p *ngIf="newPet.skill1.length < 3">Skill 1 must be at least 3 characters</p>

  <p>Skill 2: <input type="text" name="skill2" [(ngModel)]="newPet.skill2"></p>
  <p *ngIf="newPet.skill2.length < 3">Skill 2 must be at least 3 characters</p>

  <p>Skill 3: <input type="text" name="skill3" [(ngModel)]="newPet.skill3"></p>
  <p *ngIf="newPet.skill3.length < 3">Skill 3 must be at least 3 characters</p>

  <input type="hidden" name="likes" value="0">

  <input type="submit"> &nbsp;&nbsp;
  <button (click)='cancel()'>Cancel</button>

</form>
