<table>
  <tr class="tablehead">
    <td>Name</td>
    <td>Type</td>
    <td>Actions</td>
  </tr>
  <tr *ngFor="let pet of pets">
    <td>{{pet.title}}</td>
    <td>{{pet.type}}</td>
    <td>
      <!-- edit button--><button [routerLink]="['/pets', 'edit', pet._id]">Edit</button>
      <!-- detail button--><button [routerLink]="['/pets', 'detail', pet._id]">Details</button>
    </td>
  </tr>
</table>
