<p>
Details about {{pet.title}}
</p>
<fieldset>
<table>
  <tr>
    <td>Pet Type:</td><td>{{pet.type}}</td>
  </tr>
  <tr>
    <td>Description:</td><td>{{pet.description}}</td>
  </tr>
  <tr>
    <td>Skills:</td><td>{{pet.skill1}}<br>{{pet.skill2}}<br>{{pet.skill3}}</td>
  </tr>
  <tr>
    <td>Likes:</td><td>{{pet.likes}}</td>
  </tr>
<tr><td colspan="2">
    <button (click)='like(pet._id)'>Like this pet</button> &nbsp;&nbsp;
    <button (click)='delete(pet._id)'>Adopt this pet!</button>
</td></tr>
</table>
</fieldset>
