<div>
  <h1>Welcome to {{title}}!</h1>
</div>
<!-- begin menu-->
<div class="menu">
  <a [routerLink]="['/']">Home</a> |
  <a [routerLink]="['/pets']">Pets</a> |
  <a [routerLink]="['/pets', 'new']">Add New Pet</a>
</div>
<!-- end menu-->
<div class="container">
<router-outlet></router-outlet>
</div>
