<h2>Edit Pet: {{pet.title}}</h2>

<fieldset>

<form (submit)="editPet()">

  <p>Title: <input type="text" name="title" [(ngModel)]="pet.title"></p>
  <p *ngIf="pet.title.length < 3">Pet Name must be at least 3 characters</p>

  <p>Type: <input type="text" name="type" [(ngModel)]="pet.type"></p>
  <p *ngIf="pet.type.length < 3">Type must be at least 3 characters</p>

  <p>Description: <input type="text" name="description" [(ngModel)]="pet.description"></p>
  <p *ngIf="pet.description.length < 4">Description must be at least 4 characters</p>

  <p>Skills (optional)</p>
  <p>Skill 1: <input type="text" name="skill1" [(ngModel)]="pet.skill1"></p>
  <p *ngIf="pet.skill1.length < 3">Skill 1 must be at least 3 characters</p>

  <p>Skill 2: <input type="text" name="skill2" [(ngModel)]="pet.skill2"></p>
  <p *ngIf="pet.skill2.length < 3">Skill 2 must be at least 3 characters</p>

  <p>Skill 3: <input type="text" name="skill3" [(ngModel)]="pet.skill3"></p>
  <p *ngIf="pet.skill3.length < 3">Skill 3 must be at least 3 characters</p>

  <input type="submit"> &nbsp;&nbsp;
  <button (click)='cancel()'>Cancel</button>
</form>

</fieldset>
